@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-6 py-1 mx-2 border border-gray-500 rounded-full text-xs uppercase tracking-widest text-gray-500 transition-all hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40;
  }
  .projectButton {
    @apply px-6 py-1  bg-[#666] text-white  hover:scale-125 rounded-full text-xs uppercase tracking-widest font-extrabold  transition-all duration-300  hover:text-[#F7AB0A]/80 border border-[#F7AB0A]/80;
  }
  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b-2 px-6 py-4 border-[#242424]
    text-gray-500 placeholder-gray-500 transition-all focus:border-[#f7ab0a]/40
    focus:text-[#f7ab0a]/40 hover:border-[#f7ab0a]/40;
  }
}

.hoverShadow:hover {
  /* color: #7b4ae2; */
  color: #7b4ae2;
  box-shadow: 0 0 20px 5px rgba(247, 172, 10, 50%);
  text-shadow: 0 0 2px #f7ab0a;
}

.glass{
  background: rgba( 129, 128, 128, 0.25 );
box-shadow: 0 8px 32px 0 rgba(247, 172, 10, 50%);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba(247, 172, 10, 20%);
}
.animate{
  box-shadow: 0 0 0 9px rgba(184, 137, 35, .5);
animation : profile_animate 8s ease-in-out infinite 0s
}

@keyframes profile_animate {
  0%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50%{
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

